.error {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__img{
    width:49%
  }
}
